In [51]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [52]:
df =  pd.read_csv("DatasetExos2.csv" , delimiter=";")
df

,ep (ms),Acc_x,Acc_y,Acc_z,Gyro_x,Gyro_y,Gyro_z,ID,Label,Category,Set
0,2019-01-11 15:08:05.200,0.0135,0.977,-0.071,-2.094.366.723,257.720.316,0.9388000000000002,B,bench,heavy,30.0
1,2019-01-11 15:08:05.400,-0.0014999999999999996,0.9704999999999999,-0.07949999999999999,-16.826,-0.8904,21.708,B,bench,heavy,30.0
2,2019-01-11 15:08:05.600,0.0013333333333333333,0.9716666666666667,-0.06433333333333334,526.942.212,-0.2559999999999999,-14.146,B,bench,heavy,30.0
3,2019-01-11 15:08:05.800,-0.024,0.957,-0.0735,8.061,-45.244,-2.073,B,bench,heavy,30.0
4,2019-01-11 15:08:06.000,-0.027999999999999997,0.9576666666666666,-0.115,2.439,-15.486,-36.098,B,bench,heavy,30.0
...,...,...,...,...,...,...,...,...,...,...,...
9004,2019-01-20 17:33:27.000,-0.048,-10.415,-0.0765,14.146,-56.218,0.2926,E,row,medium,40.0
9005,2019-01-20 17:33:27.200,-0.037,1.151.994.539,-0.05333333333333334,-27.684,-0.5854,-1.530.757.122,E,row,medium,40.0
9006,2019-01-20 17:33:27.400,-0.06,274.571.263,-0.08199999999999999,-1.846.542.330,-51.342,-0.12200000000000003,E,row,medium,40.0
9007,2019-01-20 17:33:27.600,-0.03866666666666666,-1.295.977.131,-0.04466666666666667,-0.2318,0.2562,-765.378.561,E,row,medium,40.0
9008,2019-01-20 17:33:27.800,-0.044,-1.034,-0.059,1.098,-4.024,0.976,E,row,medium,40.0

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9009 entries, 0 to 9008
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ep (ms)   8998 non-null   object
 1   Acc_x     9006 non-null   object
 2   Acc_y     9007 non-null   object
 3   Acc_z     9006 non-null   object
 4   Gyro_x    9008 non-null   object
 5   Gyro_y    9009 non-null   object
 6   Gyro_z    9008 non-null   object
 7   ID        9007 non-null   object
 8   Label     9009 non-null   object
 9   Category  9005 non-null   object
 10  Set       9003 non-null   float64
dtypes: float64(1), object(10)
memory usage: 774.3+ KB

In [54]:
to_numeric = ["Acc_x","Acc_y","Acc_z","Gyro_x","Gyro_y","Gyro_z","Set"]
for i in to_numeric:
    df[i]=pd.to_numeric(df[i],errors="coerce")
df= df.dropna()

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4012 entries, 1 to 9008
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ep (ms)   4012 non-null   object
 1   Acc_x     4012 non-null   float64
 2   Acc_y     4012 non-null   float64
 3   Acc_z     4012 non-null   float64
 4   Gyro_x    4012 non-null   float64
 5   Gyro_y    4012 non-null   float64
 6   Gyro_z    4012 non-null   float64
 7   ID        4012 non-null   object
 8   Label     4012 non-null   object
 9   Category  4012 non-null   object
 10  Set       4012 non-null   float64
dtypes: float64(7), object(4)
memory usage: 376.1+ KB

In [56]:
def hamming(string1 , string2):
    minimum = min(len(string1) , len(string2))
    count = 0 
    for i in range(minimum):
        if string1[i] != string2[i]:
            count+=1
    return count + abs(len(string1) - len(string2))

def manhatten(atr1 , atr2):
    return abs(atr1 - atr2)

In [57]:
columns = df.columns[:-1]
X = ["2024-11-20 18:09:51.000", -0.137, 1.066, 0.8215, -6.597, 0.808, 1.985, "B", "medium" ,"", 30]
def distance(df,index):
    dist = 0
    for i, col in enumerate(columns):

        if df[col].dtype == "object":
            try:
                dist += hamming(df.iloc[index][col], X[i])
            except ValueError:
                print(f"Warning: Hamming distance error for column '{col}'. Treating as max distance.")
        else:
            try:
                dist += manhatten(df.iloc[index][col], X[i])
            except ValueError:
                print(f"Warning: Hamming distance error for column '{col}'. Treating as max distance.")
    return dist

distance(df , 0)

np.float64(52.782399999999996)

In [58]:
distances = []
for i in range(len(df)):
    dist = distance(df, i)
    distances.append(dist)
df['distance'] = distances

C:\Users\abdo7\AppData\Local\Temp\ipykernel_8656\175842175.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['distance'] = distances

In [59]:
df

,ep (ms),Acc_x,Acc_y,Acc_z,Gyro_x,Gyro_y,Gyro_z,ID,Label,Category,Set,distance
1,2019-01-11 15:08:05.400,-0.001500,0.970500,-0.0795,-16.8260,-0.8904,21.7080,B,bench,heavy,30.0,52.782400
3,2019-01-11 15:08:05.800,-0.024000,0.957000,-0.0735,8.0610,-45.2440,-2.0730,B,bench,heavy,30.0,85.885000
4,2019-01-11 15:08:06.000,-0.028000,0.957667,-0.1150,2.4390,-15.4860,-36.0980,B,bench,heavy,30.0,83.566833
5,2019-01-11 15:08:06.200,-0.026000,0.965000,-0.1180,0.4634,52.1940,-64.6360,B,bench,heavy,30.0,146.218900
7,2019-01-11 15:08:06.600,-0.170000,0.899500,-0.2500,175.2460,15.9760,-175.8540,B,bench,heavy,30.0,396.121000
...,...,...,...,...,...,...,...,...,...,...,...,...
8986,2019-01-20 17:33:23.400,-0.051500,-1.055000,-0.0860,-1.3780,-64.1480,6.0610,E,row,medium,40.0,99.365000
8988,2019-01-20 17:33:23.800,0.001500,-12.685000,-0.0030,426.8280,-0.4390,-22.2440,E,row,medium,40.0,495.615000
8999,2019-01-20 17:33:26.000,0.023333,-0.483667,0.2000,-87.9260,93.6580,0.1342,E,row,medium,40.0,199.361300
9004,2019-01-20 17:33:27.000,-0.048000,-10.415000,-0.0765,14.1460,-56.2180,0.2926,E,row,medium,40.0,112.929400
9008,2019-01-20 17:33:27.800,-0.044000,-1.034000,-0.0590,1.0980,-4.0240,0.9760,E,row,medium,40.0,38.609500

In [60]:
df = df.sort_values(by="distance")
df

,ep (ms),Acc_x,Acc_y,Acc_z,Gyro_x,Gyro_y,Gyro_z,ID,Label,Category,Set,distance
200,2019-01-11 15:12:11.600,-0.254667,0.9630,-0.112667,-2.817,0.8416,0.5610,B,bench,heavy,83.0,26.392433
3924,2019-01-15 19:04:17.000,0.375000,0.6320,0.732000,-5.683,-0.4390,-0.5488,A,squat,heavy,18.0,26.730300
6355,2019-01-18 17:04:07.000,0.118500,0.8125,0.535000,-3.439,-0.8536,0.6222,D,squat,heavy,17.0,27.977900
3551,2019-01-15 13:53:21.200,-0.066500,0.9595,-0.133000,-5.061,-0.8412,5.2680,E,ohp,heavy,76.0,29.599700
2783,2019-01-14 13:53:21.200,-0.066500,0.9595,-0.133000,-5.061,-0.8412,5.2680,A,ohp,heavy,93.0,29.599700
...,...,...,...,...,...,...,...,...,...,...,...,...
8756,2019-01-20 17:26:10.000,0.535500,0.3180,0.185000,-598.658,-879.1480,-188.6560,E,rest,standing,19.0,1686.715000
7039,2019-01-18 17:26:10.000,0.535500,0.3180,0.185000,-598.658,-879.1480,-188.6560,A,rest,standing,23.0,1688.715000
8077,2019-01-19 17:26:10.000,0.535500,0.3180,0.185000,-598.658,-879.1480,-188.6560,A,rest,standing,51.0,1688.715000
1099,2019-01-11 15:56:14.400,-0.450000,1.2480,-0.195333,840.244,529.7560,-315.1220,B,ohp,medium,37.0,1717.407833
779,2019-01-11 15:48:55.400,-0.230000,15.0950,-0.053500,999.512,452.6820,-531.8280,B,ohp,medium,84.0,2028.793000

implement the KNN algorithme

In [65]:
from collections import Counter
k= 10 
df = df[:10]
classes = df["Label"]
classes = Counter(classes)
print(max(classes))

squat